
.bg-light{
    background-color: #fff !important;
}
.bg-dark{
    background-color: #000 !important;
}
.navbar img{
    max-height: 3em !important;
}
.row2 .col{
    padding: .5em;
}
video{
    border-radius: 1em;
}
.navbar{
    background-color: #000 !important;
    z-index: 5;
}
.row1{
    height: 90svh;
}
.row1 img{
    position: absolute;
    max-height: 90svh;
    z-index: -1;
    left: 0;
}
.head{
    font-size: 3vw;
    font-weight: 800;
}
.h1{
    font-weight: 500;
}
.head-para{
    font-size: x-large;
    font-weight: 300;
}
.para{
    font-size: x-large;
    font-weight: 300;
}
.my-card{
    border: None;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
}
.my-card img{
    border: none;
    outline: none;
    border-radius: 1em;
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.row4{
    position: relative;
}
.row5{
    min-height: 50vh;
}
.row6{
    height: 60vh;
    position: relative;
}
.row6 iframe{
    border-radius: 1em;
    min-height: 15em;
}
form input,form textarea{
    border: none;
    background-color: #eee;
    padding: .3em .7em;
    border-radius: .5em;
    margin: .5em 0;
}
.footer a{
    font-size: x-large;
    color: #000;
}
.made a{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
