.bg-light{
    background-color: #fff !important;
}
.bg-dark{
    background-color: #000 !important;
}
.navbar img{
    max-height: 3em;
}
.navbar{
    background-color: #000 !important;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
}
.row1{
    height: 90svh;
}
.row1 img{
    position: absolute;
    max-height: 90svh;
    z-index: -1;
}
.head{
    font-size: 3vw;
    font-weight: 800;
}
.h1{
    font-weight: 500;
}
.head-para{
    font-size: x-large;
    font-weight: 300;
}
.para{
    font-size: x-large;
    font-weight: 300;
}
.card{
    border: None;
    padding: .5em;
}
.card img{
    border: none;
    outline: none;
    border-radius: 1em;
    width: 100%;
    height: 15em;
    object-fit: cover;
}
.row5{
    height: 60vh;
}
.row5 iframe{
    border-radius: 1em;
}