@font-face {
    font-family: ams;
    src: url(amsterdam-four-ttf.ttf)
  }
  
@font-face {
font-family: lobs;
src: url(Lobster-Regular.ttf)
}
body{
    min-height: 100vh;
    background: #000 !important;
    user-select: none;
}
body::-webkit-scrollbar{
    width: .25em;
    transition: width 1s;
    position: absolute;

}
body::-webkit-scrollbar:hover{
    width: .7em !important;
}
body::-webkit-scrollbar-track{
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.2em;
}
.bg{
    display: inline;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50vh;
    width: 50vh;
    font-family: 'Times New Roman', Times, serif;
    border: 0.05em solid #222;
    font-size: 15em;
    color: #222;
    z-index: -1;
}
object{
    border: 2px solid #555;
    box-shadow: 1px 1px 15px #222;
}
.headname{
    font-size: 2.5em;
    font-family: ams;
}
.img img{
    filter: invert(1);
    height: 5em;
}
.coming{
    transition: .3s !important;
}
.img{
    position: relative;
}
.foot{
    font-size: 2.6em;
}
a{
    color: #ffe !important;
    
    transition: .2s;
}
a:hover{
    /*color: aqua !important;*/
    transform: translateY(-7px);
}
.heading{
    font-family: lobs !important;
}
.navbar{
    opacity: 0;
    animation: fadein 1s forwards;
}
.pl-head{
    opacity: 0;
    animation: fadein 1s .5s forwards;
}
.pdf{
    opacity: 0;
    animation: fadein 1s 1s forwards;
}
@keyframes fadein {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}